:root{
    --primary-color: #FED001;
}

html{
    font:400 62.5% 'inter', sans-serif;
}


p, 
a{
    font-size: 1.6rem;
}

h1{
    font-size: 4.8rem;
}

nav a{
    color: inherit;
}

.upper{
    text-transform: uppercase;
}


.btn{
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;

}


.wrapperContainer-dark{
    background-color: #2a2a2a;
    color: white;
}

.wrapperContainer-ligth{
    background-color: #fafafa;
}

.wrapperContainer-dark2{
    background-color: #003464;
    color: white;
}

.container{
    max-width: 127.6rem;
    margin: auto;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;

}
.header_nav  a {
    padding: .75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}


.header_nav ul{
    display: flex;
    gap: .5rem;
    list-style-type: none;
}

.header_nav a:hover{
    background-color: black;
}

.wrapperContainer-hero{
    background-image:linear-gradient(transparent, var(--primary-color)) ;
}

.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.hero_title{
    margin-bottom: 3rem;
}